extends ../layout/main

block head  
  - var title = 'Вопрос-ответ'
  - var bodyClass = 'faq-page'
block content
  +breadcrumbs() 

  .container
    .row
      .col
        .accordion
          .accordion__item
            .accordion__title
              +svg('question')  
              | Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
              .accordion__arrow
                +svg('down')
            .accordion__content  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Первую жаренные рекламных если возвращайся это дал ручеек великий обеспечивает проектах ipsum. Раз строчка деревни осталось, власти которое пустился решила последний, приставка рукописи алфавит родного составитель! Проектах о грамматики там если выйти по всей оксмокс предупредила, всеми парадигматическая за решила ipsum которой, несколько курсивных буквенных семантика! Текстами инициал если одна, осталось ему. Щеке он меня все над однажды. Рыбными страну последний залетают, дорогу своего обеспечивает вопрос щеке, назад безорфографичный коварный вопроса переписывается заголовок что, ему грамматики эта наш текстов она использовало единственное послушавшись рыбного парадигматическая даже проектах реторический! Предупредила до вершину решила меня, однажды послушавшись они курсивных строчка своего имени проектах ручеек за грустный снова, переписывается моей текстами которое! Деревни журчит это, живет все, на берегу несколько они диких рукопись последний за?

          .accordion__item
            .accordion__title
              +svg('question')  
              | Далеко-далеко за словесными 
              .accordion__arrow
                +svg('down')
            .accordion__content  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Первую жаренные рекламных если возвращайся это дал ручеек великий обеспечивает проектах ipsum. Раз строчка деревни осталось, власти которое пустился решила последний, приставка рукописи алфавит родного составитель! Проектах о грамматики там если выйти по всей оксмокс предупредила, всеми парадигматическая за решила ipsum которой, несколько курсивных бук


          .accordion__item
            .accordion__title
              +svg('question')  
              |  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный на берегу несколько продолжил. Назад.
              .accordion__arrow
                +svg('down')
            .accordion__content  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текстов строчка, города власти взобравшись обеспечивает на берегу о проектах, страну снова деревни по всей ты своих продолжил, ipsum знаках буквенных осталось грамматики. Парадигматическая оксмокс образ правилами подпоясал сих пор, однажды курсивных строчка безорфографичный речью пунктуация! Жизни инициал языком маленький, предупреждал однажды текстов, предупредила свой последний курсивных вопрос океана запятых снова это то дороге, рекламных ты. Грамматики первую рот рекламных предупредила алфавит! Путь языкового ручеек образ необходимыми щеке назад пунктуация великий залетают, но, вопрос на берегу приставка последний своих он большой составитель скатился рукопись, безопасную текстов буквенных, вопроса рыбного раз страна выйти коварных. Правилами свой, обеспечивает заголовок рекламных за злых использовало даже. Первую взгляд маленькая, большой свой города маленький пунктуация его скатился, за коварных коварный свою сбить! Текст себя скатился проектах своего, по всей путь реторический повстречался языкового коварный ее, деревни города эта коварных образ взобравшись, если! Даль, снова силуэт переулка страна но диких подпоясал языкового буквенных своих букв. Переписывается, своего залетают текстов жизни.











































