extends ../layout/main

block head  
  - var title = 'Галерея'
  - var bodyClass = 'gallery-page'
block content
  +breadcrumbs() 

  .container
    .row.row--gallery
      .col-lg-4
        a.gallery__item(href="img/general/gal_1.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_1.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_2.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_2.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_3.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_3.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_4.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_4.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_5.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_5.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_6.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_6.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_1.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_1.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_2.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_2.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_3.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_3.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_4.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_4.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_5.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_5.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_6.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_6.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_1.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_1.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_2.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_2.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_3.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_3.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_4.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_4.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_5.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_5.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_6.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_6.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_1.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_1.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_2.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_2.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_3.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_3.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_4.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_4.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_5.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_5.jpg", alt="image")  
      .col-lg-4
        a.gallery__item(href="img/general/gal_6.jpg", data-fancybox="all_gal")
          img(src="img/general/gal_6.jpg", alt="image")  
    
  +pagination()












































