extends ../layout/main

block head  
  - var title = 'Магические статьи'
  - var bodyClass = 'news-page'
block content
  +breadcrumbs() 

  .container
    .row.row--articles
      .col-lg-6
        .articles__item
          .articles__item-part
            .articles__img.articles__img--1
              img(src="img/general/article_1.jpg", alt="image")
              //- img(src="img/general/article_11.jpg", alt="image")
              //- img(src="img/general/article_12.jpg", alt="image")
          .articles__item-part
            b.articles__title Задача организации, в особенности же реализация
            p.articles__desc Таким образом консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании формировании
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_2.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_3.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_4.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')
    
      .col-lg-6
        .articles__item
          .articles__item-part
            .articles__img.articles__img--1
              img(src="img/general/article_1.jpg", alt="image")
              //- img(src="img/general/article_11.jpg", alt="image")
              //- img(src="img/general/article_12.jpg", alt="image")
          .articles__item-part
            b.articles__title Задача организации, в особенности же реализация
            p.articles__desc Таким образом консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании формировании
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_2.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_3.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_4.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')
    
      .col-lg-6
        .articles__item
          .articles__item-part
            .articles__img.articles__img--1
              img(src="img/general/article_1.jpg", alt="image")
              //- img(src="img/general/article_11.jpg", alt="image")
              //- img(src="img/general/article_12.jpg", alt="image")
          .articles__item-part
            b.articles__title Задача организации, в особенности же реализация
            p.articles__desc Таким образом консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании формировании
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_2.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_3.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_4.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')
    
      .col-lg-6
        .articles__item
          .articles__item-part
            .articles__img.articles__img--1
              img(src="img/general/article_1.jpg", alt="image")
              //- img(src="img/general/article_11.jpg", alt="image")
              //- img(src="img/general/article_12.jpg", alt="image")
          .articles__item-part
            b.articles__title Задача организации, в особенности же реализация
            p.articles__desc Таким образом консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании формировании
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_2.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_3.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_4.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')
    
      .col-lg-6
        .articles__item
          .articles__item-part
            .articles__img.articles__img--1
              img(src="img/general/article_1.jpg", alt="image")
              //- img(src="img/general/article_11.jpg", alt="image")
              //- img(src="img/general/article_12.jpg", alt="image")
          .articles__item-part
            b.articles__title Задача организации, в особенности же реализация
            p.articles__desc Таким образом консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании формировании
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_2.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_3.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')

      .col-lg-6
        .articles__item
          .articles__item-part 
            .articles__img: img(src="img/general/article_4.jpg", alt="image")
          .articles__item-part
            b.articles__title Значимость этих проблем настолько очевидна
            p.articles__desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ipsum парадигматическая маленькая которой, текст своего большого. Использовало его имеет рукописи языком курсивных ему образ решила встретил парадигматическая которое взгляд снова переписали, запятой они пустился. Журчит свой, правилами встретил оксмокс маленький текста курсивных послушавшись это пор, города строчка подпоясал диких моей. Несколько щеке вдали приставка это продолжил заголовок взобравшись lorem рукопись дал не маленькая от всех пустился жизни обеспечивает, злых сих пояс. Там рыбными грустный назад подпоясал живет, которой алфавит составитель.
            .articles__action
              +btn(' btn--reverse btn--blue', '#', 'Подробнее', 'right-arrow')
    
    
  +pagination()












































