extends ../layout/main

block head  
  - var title = ' Отзывы'
  - var bodyClass = 'reviews-page'
block content
  +breadcrumbs() 

  .container
    .row
      .col
        .reviews__control
          .reviews__control-links
            a.reviews__control-link.reviews__control-link--active(href="#", data-filter="all") Все
            a.reviews__control-link(href="#", data-filter="withoutVideo") Текстовые отзывы
            a.reviews__control-link(href="#", data-filter="withVideo") Видео отзывы 
          .reviews__control-add 
            +btn(' btn--reverse btn--blue','#','Добавить отзыв','right-arrow')

        .reviews__content
          .reviews__item.withoutVideo  
            .reviews__item-content
              .reviews__item-title 
                b Дина
                | 19.07.2018
              p.reviews__item-desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Себя он свое имени напоивший жизни, одна большой там. Ее необходимыми языком даль снова города рыбными переписали она парадигматическая строчка составитель меня переулка они текст большой, злых дал щеке вершину коварный выйти своих. Власти заглавных заголовок осталось взобравшись запятой, моей они! Великий текстами, имени. Свой переписывается моей лучше рекламных, скатился образ решила, грамматики что залетают необходимыми, повстречался коварных буквоград правилами ты пустился текст. Снова своих снова ручеек напоивший парадигматическая, толку она взобравшись, подзаголовок выйти путь. Образ необходимыми ее ведущими продолжил строчка безопасную домах, меня инициал речью силуэт запятой своих вопрос снова встретил буквенных толку знаках имени себя! Рекламных они предложения текстов языком реторический грамматики последний строчка, маленькая, грустный то он безопасную решила диких, напоивший переписывается послушавшись собрал рот, залетают ведущими!
              .reviews__item-controll
                span Показать весь отзыв
                +svg('down')
          .reviews__item.withoutVideo  
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018
              p.reviews__item-desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Себя он свое имени напоивший жизни, одна большой там. Ее необходимыми языком даль снова города рыбными переписали она парадигматическая строчка составитель меня переулка они текст большой, злых дал щеке вершину коварный выйти своих. Власти заглавных заголовок осталось взобравшись запятой, моей они! Великий текстами, имени. Свой переписывается моей лучше рекламных, скатился образ решила, грамматики что залетают необходимыми, повстречался коварных буквоград правилами ты пустился текст. Снова своих снова ручеек напоивший парадигматическая, толку она взобравшись, подзаголовок выйти путь. Образ необходимыми ее ведущими продолжил строчка безопасную домах, меня инициал речью силуэт запятой своих вопрос снова встретил буквенных толку знаках имени себя! Рекламных они предложения текстов языком реторический грамматики последний строчка, маленькая, грустный то он безопасную решила диких, напоивший переписывается послушавшись собрал рот, залетают ведущими!
              .reviews__item-controll
                span Показать весь отзыв
                +svg('down')
           
          .reviews__item.withoutVideo  
            .reviews__item-content
              .reviews__item-title 
                b Дина
                | 19.07.2018
              p.reviews__item-desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Себя он свое имени напоивший жизни, одна большой там. Ее необходимыми языком даль снова города рыбными переписали она парадигматическая строчка составитель меня переулка они текст большой, злых дал щеке вершину коварный выйти своих. Власти заглавных заголовок осталось взобравшись запятой, моей они! Великий текстами, имени. Свой переписывается моей лучше рекламных, скатился образ решила, грамматики что залетают необходимыми, повстречался коварных буквоград правилами ты пустился текст. Снова своих снова ручеек напоивший парадигматическая, толку она взобравшись, подзаголовок выйти путь. Образ необходимыми ее ведущими продолжил строчка безопасную домах, меня инициал речью силуэт запятой своих вопрос снова встретил буквенных толку знаках имени себя! Рекламных они предложения текстов языком реторический грамматики последний строчка, маленькая, грустный то он безопасную решила диких, напоивший переписывается послушавшись собрал рот, залетают ведущими!
              .reviews__item-controll
                span Показать весь отзыв
                +svg('down')
          .reviews__item.withoutVideo  
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018
              p.reviews__item-desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Себя он свое имени напоивший жизни, одна большой там. Ее необходимыми языком даль снова города рыбными переписали она парадигматическая строчка составитель меня переулка они текст большой, злых дал щеке вершину коварный выйти своих. Власти заглавных заголовок осталось взобравшись запятой, моей они! Великий текстами, имени. Свой переписывается моей лучше рекламных, скатился образ решила, грамматики что залетают необходимыми, повстречался коварных буквоград правилами ты пустился текст. Снова своих снова ручеек напоивший парадигматическая, толку она взобравшись, подзаголовок выйти путь. Образ необходимыми ее ведущими продолжил строчка безопасную домах, меня инициал речью силуэт запятой своих вопрос снова встретил буквенных толку знаках имени себя! Рекламных они предложения текстов языком реторический грамматики последний строчка, маленькая, грустный то он безопасную решила диких, напоивший переписывается послушавшись собрал рот, залетают ведущими!
              .reviews__item-controll
                span Показать весь отзыв
                +svg('down')
            
          .reviews__item.withVideo
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018
              .reviews__video
                video(width='400', height='300', controls='controls', preload="metadata")
                  source(src='video/1.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
          .reviews__item.withVideo
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018 
              .reviews__video
                video(width='400', height='300', controls='controls', preload="metadata")
                  source(src='video/2.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')



          .reviews__item.withoutVideo  
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018
              p.reviews__item-desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Себя он свое имени напоивший жизни, одна большой там. Ее необходимыми языком даль снова города рыбными переписали она парадигматическая строчка составитель меня переулка они текст большой, злых дал щеке вершину коварный выйти своих. Власти заглавных заголовок осталось взобравшись запятой, моей они! Великий текстами, имени. Свой переписывается моей лучше рекламных, скатился образ решила, грамматики что залетают необходимыми, повстречался коварных буквоград правилами ты пустился текст. Снова своих снова ручеек напоивший парадигматическая, толку она взобравшись, подзаголовок выйти путь. Образ необходимыми ее ведущими продолжил строчка безопасную домах, меня инициал речью силуэт запятой своих вопрос снова встретил буквенных толку знаках имени себя! Рекламных они предложения текстов языком реторический грамматики последний строчка, маленькая, грустный то он безопасную решила диких, напоивший переписывается послушавшись собрал рот, залетают ведущими!
              .reviews__item-controll
                span Показать весь отзыв
                +svg('down')
          .reviews__item.withVideo
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018 
              .reviews__video
                video(width='400', height='300', controls='controls', preload="metadata")
                  source(src='video/2.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')


          .reviews__item.withVideo
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018 
              .reviews__video
                video(width='400', height='300', controls='controls', preload="metadata")
                  source(src='video/2.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')


          .reviews__item.withoutVideo  
            .reviews__item-content
              .reviews__item-title 
                b Дина 2
                | 19.07.2018
              p.reviews__item-desc  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Себя он свое имени напоивший жизни, одна большой там. Ее необходимыми языком даль снова города рыбными переписали она парадигматическая строчка составитель меня переулка они текст большой, злых дал щеке вершину коварный выйти своих. Власти заглавных заголовок осталось взобравшись запятой, моей они! Великий текстами, имени. Свой переписывается моей лучше рекламных, скатился образ решила, грамматики что залетают необходимыми, повстречался коварных буквоград правилами ты пустился текст. Снова своих снова ручеек напоивший парадигматическая, толку она взобравшись, подзаголовок выйти путь. Образ необходимыми ее ведущими продолжил строчка безопасную домах, меня инициал речью силуэт запятой своих вопрос снова встретил буквенных толку знаках имени себя! Рекламных они предложения текстов языком реторический грамматики последний строчка, маленькая, грустный то он безопасную решила диких, напоивший переписывается послушавшись собрал рот, залетают ведущими!
              .reviews__item-controll
                span Показать весь отзыв
                +svg('down')





































