extends ../layout/main

block head  
  - var title = ' Отзывы'
  - var bodyClass = 'reviews-page'
block content
  +breadcrumbs() 

  .container
    .row
      .col
        








































