extends ../layout/main

block head  
  - var title = 'Услуги'
  - var bodyClass = 'services-page'
block content
  +breadcrumbs() 

  .container
    .row
      .col-lg-3
        +categories()
      .col-lg-9
        h1.h1 Гадание Ленорман
        p 
          +image('img/general/img.jpg')
          | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Имени, если вдали осталось текста взгляд злых живет наш пунктуация всемогущая. Однажды взгляд своего толку моей родного. На берегу прямо обеспечивает свою которой вопроса текстами его заглавных, составитель текст реторический деревни продолжил меня, домах выйти бросил раз! Имени она толку вопроса сих имеет если решила океана реторический путь, одна живет правилами подпоясал, напоивший большого над лучше последний взобравшись! Не подпоясал ведущими, вопрос мир семантика своих большого города щеке, сбить власти возвращайся, всеми рот наш дороге за ты толку вопроса предупредила знаках ему диких. Ведущими необходимыми, диких все власти. Там но рукописи текстами взгляд подзаголовок, ipsum все! Рукописи выйти последний, страну знаках точках даже что гор первую текстами дорогу, эта продолжил, ему все сбить инициал. Единственное, текстов? По всей подпоясал языком составитель океана предупреждал ручеек, большой повстречался. Рыбного буквенных которой заголовок до, имеет по всей заглавных оксмокс которое, коварных если буквоград все толку домах. Жаренные до рекламных журчит, реторический ему взобравшись, что своего скатился заглавных, агенство, речью предложения. Коварных сбить сих инициал текстов, языком вопроса буквоград то большой, всемогущая переписали злых напоивший. Жаренные встретил маленький, путь несколько имеет свою маленькая грустный родного, правилами языком единственное свой, города снова, которой семь раз приставка сих но.
        ul.list
          .list__item  Маркерований список
          .list__item  Маркерований список
          .list__item  Маркерований список
          .list__item  Маркерований список

        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus eum laboriosam, nostrum numquam! Reiciendis nostrum voluptates, sit et, perspiciatis, tempora quaerat optio necessitatibus natus nesciunt laudantium similique fugit eveniet placeat magnam illo. Veniam error at eius facere amet reiciendis, impedit dolorem officiis quia, praesentium nisi minima fuga. Accusamus minima laudantium eaque recusandae facere sit consectetur error impedit dolore facilis sapiente quia ratione rem debitis obcaecati quidem possimus eos quod, at perspiciatis tempore. A numquam officiis accusantium perspiciatis nesciunt dolor illum eaque doloribus dolorum ut architecto ratione laborum ipsam quaerat animi temporibus, odio molestiae magnam? Quia quisquam illum cum asperiores esse cupiditate quos temporibus ullam, provident facilis quasi dolorem recusandae iure architecto eaque exercitationem error omnis praesentium. Praesentium quam, quaerat possimus.

        ul.numb-list
          li.numb-list__item Нумерованный список
          li.numb-list__item Нумерованный список
          li.numb-list__item Нумерованный список
          li.numb-list__item Нумерованный список
          li.numb-list__item Нумерованный список
  
        p 
          +image('img/general/img.jpg', 'image--right')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem consequuntur porro maiores obcaecati dignissimos, cupiditate nobis similique voluptatibus nulla illum cum voluptates mollitia ex eos quo magnam velit at nisi quas. Molestiae consectetur cumque distinctio nobis dolorum consequuntur quibusdam quisquam recusandae ex sed obcaecati, non sint, incidunt beatae tempora fugiat libero officiis doloribus ad et molestias. Rem repellendus quisquam odit et, voluptatem ullam, consequuntur incidunt repudiandae qui officiis, ipsum veritatis quae possimus expedita beatae nesciunt obcaecati laborum eius accusantium eligendi ea amet quasi in! Ipsum quis omnis impedit aut tempore quae atque, excepturi praesentium molestiae temporibus ab dolores provident officiis quidem officia enim, sapiente, rerum ratione veritatis! Aliquid provident sunt aliquam odit cumque nemo fugit accusantium dolorum soluta consequuntur adipisci doloremque voluptatem deserunt ratione fuga, porro nihil quaerat totam at nesciunt excepturi? Atque officia, dolor officiis odit, aliquid dolorum! Odit, voluptate atque aspernatur laboriosam quo, velit et quae sunt similique ipsum, fugit sapiente, vel. Ducimus suscipit tenetur officiis, beatae sapiente aspernatur doloremque, sint fuga temporibus adipisci nobis quo dolorem?
        

        table.table
          tr.table__row-title
            th Таким
            th Образом
            th Начало
            th Повседневной работы
          tr.table__row-content
            td(data-title="Таким").table__td По формированию
            td(data-title="Образом").table__td option 
            td(data-title="Начало").table__td option 
            td(data-title="Повседневной работы").table__td option 
          tr.table__row-content
            td(data-title="Таким").table__td Позиции требуют
            td(data-title="Образом").table__td option 
            td(data-title="Режим").table__td option 
            td(data-title="Повседневной работы").table__td option 
          tr.table__row-content
            td(data-title="Таким").table__td От нас
            td(data-title="Образом").table__td option 
            td(data-title="Режим").table__td option 
            td(data-title="Повседневной работы").table__td option 


        .video__item(data-youtube='BKHkq7GaXzU')

        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quis accusantium vero aut eligendi, magni dicta repellat facilis quibusdam, voluptates cupiditate esse quos laudantium excepturi, in omnis assumenda deleniti necessitatibus rem, obcaecati atque consequatur. Esse, amet officia voluptatum tempore, dolores voluptates eligendi mollitia vel dolor saepe nostrum. Repellendus praesentium, perspiciatis veritatis iusto vitae magni ullam quidem eius fugit, minima animi pariatur esse. Sit sint enim nostrum dolores, laborum quisquam laboriosam ut ratione accusamus quae et itaque vel quas placeat quis a suscipit molestiae ipsum excepturi aliquid voluptate aperiam tempore. Voluptatem quos modi recusandae, reiciendis repellat quia atque qui odit repellendus!

        blockquote  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свое путь своего ему рыбного щеке заглавных путь продолжил, курсивных если власти которое оксмокс даль, бросил единственное до меня, вопроса свою языком домах, собрал букв. Все ее встретил безорфографичный ему запятой своих буквоград, единственное даже ты бросил ведущими это предложения себя подпоясал, меня строчка точках над злых напоивший рекламных ручеек! Составитель необходимыми по всей большой грустный предупреждал над страна, безопасную ведущими.

        p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Он, текстов несколько ты lorem свое однажды ручеек одна домах пустился точках правилами диких повстречался текст журчит речью заманивший подпоясал родного буквенных снова образ там наш! Заглавных пунктуация обеспечивает вдали даль имеет свою раз. Рыбного одна жаренные за родного там продолжил о, щеке залетают, языком курсивных единственное над образ напоивший назад рекламных взобравшись языкового маленькая буквоград текстами послушавшись всемогущая вершину. Своего страну грустный домах, страна строчка толку однажды ему маленький, оксмокс его агенство о проектах, алфавит имени большой от всех напоивший раз ее все последний эта путь. Языкового проектах океана прямо предложения составитель даже своих свой маленькая залетают путь, силуэт продолжил бросил агенство своих подпоясал послушавшись сих большого заголовок. Грамматики живет безопасную приставка даже маленький, домах заманивший запятых моей даль, переписывается реторический проектах переписали встретил дал если страна которой на берегу, вдали обеспечивает большой! Текстов которой своего мир свою ее выйти города текста, путь, переулка дорогу ты использовало? Они себя грустный коварных наш назад последний рот это если даль маленький рукописи решила гор заголовок коварный предупреждал прямо на берегу буквенных вопроса дорогу сбить выйти ее, точках, снова деревни! Которой вдали, океана ручеек гор.


  .form-block
    .container
      .row
        .col
          - formTitle = 'Запись на сеанс'
          +wis_form('form--vis')















































