mixin menuHover()
  nav.universal-nav
    .container
      .row
        .col
          a#openup.universal-nav__list-open(href='#')
            span.hamburger.hamburger--collapse
              span.hamburger-box
                span.hamburger-inner
            | Меню
          ul.universal-nav__list
            li.universal-nav__item.universal-nav__item--action
              a.universal-nav__link(href="#") Главная       
            li.universal-nav__item
              a.universal-nav__link(href="#") Услуги 

              ul.universal__sublist
                li.universal__sublist-item
                  a.universal__sublist-link(href="#") Услуги 1
                  ul.universal__sublist
                    li.universal__sublist-item
                      a.universal__sublist-link(href="#") Услуги 2


            li.universal-nav__item
              a.universal-nav__link(href="#") Обо мне 
            li.universal-nav__item
              a.universal-nav__link(href="#") Отзывы       
            li.universal-nav__item
              a.universal-nav__link(href="#") Галерея
            li.universal-nav__item
              a.universal-nav__link(href="#") Магические статьи
            li.universal-nav__item
              a.universal-nav__link(href="#") Вопрос-ответ 
            li.universal-nav__item
              a.universal-nav__link(href="#") Контакты
mixin menuHoverFoot()
  nav.universal-nav
    .container
      .row
        .col
          a#openup.universal-nav__list-open(href='#')
            span.hamburger.hamburger--collapse
              span.hamburger-box
                span.hamburger-inner
            | Меню
          ul.universal-nav__list
            li.universal-nav__item.universal-nav__item--action
              a.universal-nav__link(href="#") Главная       
            li.universal-nav__item
              a.universal-nav__link(href="#") Услуги       
            li.universal-nav__item
              a.universal-nav__link(href="#") Обо мне 
            li.universal-nav__item
              a.universal-nav__link(href="#") Отзывы       
            li.universal-nav__item
              a.universal-nav__link(href="#") Галерея
            li.universal-nav__item
              a.universal-nav__link(href="#") Магические статьи
            li.universal-nav__item
              a.universal-nav__link(href="#") Вопрос-ответ 
            li.universal-nav__item
              a.universal-nav__link(href="#") Контакты
